.container {
    display: grid;
    grid-template-columns:minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr);
}

#description {
    margin-top: 23px;
    width: 800px;
    height: 800px;
    display: inline-block;
}

.reservationContainer {
    position: absolute;
    /* margin-top: 500px; */
    left: 900px;
    top: 475px;
}

.sticky {
    position: fixed;
    /* margin-top: 500px; */
    left: 900px;
    top: 100px;
}